page-finished-contest {
    [table-header]{
        font-weight: 400;
        font-size: 15px;
    }

    .text-center{
        text-align: center;
    }

    .font-size-28{
        font-size: 28px;
    }

    .font-size-26{
        font-size: 26px;
    }
    
    .font-size-24{
        font-size: 24px;
    }

    .font-size-22{
        font-size: 22px;
    }

    .font-size-20{
        font-size: 20px;
    }
    
    .font-size-18{
        font-size: 18px;
    }

    .font-size-12{
        font-size: 12px;
    }

    .text-right{
        text-align: right;
    }

    .background-color-white{
        background-color: white;
    }

    .color-red{
        color: red;
    }

    .padding-0{
        padding: 0;
    }

    .margin-top-10{
        margin-top: 10px;
    }

    .cell-header-cst{
        min-width: 150px;
    }

    // .cell-header-cst:first-child{
    //     min-width: 150px;
    // }
    // .cell-item:first-child{
    //     min-width: 150px!important;
    //     flex-grow: 0;
    // }

    // mut-datatable .cell-header-cst:first-child, mut-datatable .cell-item:first-child {
    //     padding: 15px 10px 15px 15px !important;
    // }

    // mut-datatable .cell-header-cst:last-child, mut-datatable .cell-item:last-child {
    //     // min-width: 250px !important;
    //     padding: 15px 15px 15px 10px !important;
    // }
    
    .grid[no-padding] > .row > .col{
        overflow: hidden;
        padding :15px 15px 15px 15px !important;
        // border: 1px solid black;
    }
    
    mut-datatable .cell-text-center{
        text-align: left;
    }


}
