page-form-contest-criteria-category {
    .font-size-28{
        font-size: 28px;
    }

    .font-size-26{
        font-size: 26px;
    }
    
    .font-size-24{
        font-size: 24px;
    }

    .font-size-22{
        font-size: 22px;
    }

    .font-size-20{
        font-size: 20px;
    }
    
    .font-size-18{
        font-size: 18px;
    }

    .font-size-12{
        font-size: 12px;
    }

    .text-right{
        text-align: right;
    }

    .background-color-white{
        background-color: white;
    }

    .margin-bottom-25{
        margin-bottom: 25px;
    }

    .padding-0{
        padding: 0;
    }

    .all-border-1px{
        border: 1px solid rgb(169, 169, 169);
    }

    .form-input input{
        margin:  5px 5px 5px 0;
    }

    .float-left{
        float: left;
    }

    .color-red{
        color: red;
    }
}
