page-contest-winner {
    [table-header]{
        font-weight: 400;
        font-size: 15px;
    }

    .font-size-28{
        font-size: 28px;
    }

    .font-size-26{
        font-size: 26px;
    }
    
    .font-size-24{
        font-size: 24px;
    }

    .font-size-22{
        font-size: 22px;
    }

    .font-size-20{
        font-size: 20px;
    }
    
    .font-size-18{
        font-size: 18px;
    }

    .font-size-12{
        font-size: 12px;
    }

    .bold{
        font-weight: bold;
    }

    .text-center{
        text-align: center;
    }

    .text-right{
        text-align: right;
    }

    .float-left{
        float: left;
    }

    .background-color-white{
        background-color: white;
    }

    .padding-0{
        padding: 0;
    }

    .margin-top-12{
        margin-top: 12px;
    }
}
